name: torbox-media-center
services:
    torbox-media-center:
        container_name: torbox-media-center
        stdin_open: true
        tty: true
        restart: always
        volumes:
            - /torbox:/torbox
        environment:
            - TORBOX_API_KEY=<input your api key>
            - MOUNT_METHOD=strm
            - MOUNT_PATH=/torbox
            - RAW_MODE=yes
            - ENABLE_METADATA=false
        image: anonymoussystems/torbox-media-center:main
        build: .
